node_modules/
.next/
out/
tsconfig.tsbuildinfo
.data/
.vercel/
supabase/.branches/
supabase/.temp/

.env
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.vercel
